# macOS
.DS_Store
**/.DS_Store

# Node
node_modules/
cloudfunctions/*/node_modules/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# Build outputs
dist/
build/

# Temporary files
*.tmp
*.temp
